.HomeSection{
    visibility: hidden;
    position: relative;   
}
.PostSection{
    visibility: hidden;
    position: relative;
}
.ProfileSection{
    visibility: hidden;
    position: relative;
}