<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotShare</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../styles/LandingPage.css">
</head>
<body class="bg-gray-100">
    <nav id="nav" class="bg-white p-4">
        <h1 id="logo" class=" text-bold">Photoshare</h1>
        <ul id="navUl" >
            <li id="navli"><a class="log" id="navA" href="./login.html">Login</a></li>
            <li id="navli"><a class="bg-blue-500 text-white " id="navA" href="./Signup.html">Signup</a></li>
        </ul>
    </nav>
    <section class="conBack">
       <h1 class="logoText">PHOTOSHARE</h1>
       <div class="tagLine flex flex-col text-center mt-10">
        <h1>Your <b>story</b>, your <b>way</b>.</h1>
        <p ><a class="text-blue-500  " href="./Signup.html">Join</a> PhotoShare Now</p>
    </div>
       <div class="imgBox space-x-3 ml-2">
        <img src="../Images/flower3.jpg" alt="">
        <img src="../Images/flower4.jpg" alt="">
        <img src="../Images/frd3.jpg" alt="">
        <img src="../Images/flower5.jpg" alt="">
            <div class="flex flex-col text-center mt-10">
                <h1>Your <b>story</b>, your <b>way</b>.</h1>
                <p ><a class="text-blue-500  " href="">Join</a> PhotoShare Now</p>
            </div>
        <img src="../Images/flower6.jpg" alt="">
       </div>
    </section>

    <footer class="endCred bg-white text-center">
        <div class="States">
            <h4>Powered by Paras</h4>
            <p> &copy All Rigths Reserved  2024 </p>
        </div>
        
        
        <div class="footer">
            <ul class="footerUl">
                <li class="footerLi"><a class="footerA">LinkedIn</a></li>
                <li class="footerLi"><a class="footerA">Youtube</a></li>
                <li class="footerLi"><a class="footerA">X</a></li>
                <li class="footerLi"><a class="footerA">Github</a></li>
                <li class="footerLi"><a class="footerA">Website</a></li>
            </ul>
        </div>
    </footer>


    <script src="../scripts/LandingPage.js"></script>
</body>
</html>